# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
venv
npm-debug.log*
yarn-debug.log*
yarn-error.log*

test.py
combined.png
forward.png
partial.png
3d.png