# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# MacOS
.DS_STORE
